<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./resources/css/w93replica.css" rel="stylesheet">
    <script src="./resources/js/w93replica.js"></script>
    <title>pip#3</title>
</head>
<body onload="onInit().catch(err => console.log(err))">
<div id="root">
    <div id="icons"></div>
    <div id="toolbar">
        <div id="start">
            <img src="./resources/img/start.png" alt="win">
            <div>Start</div>
        </div>
    </div>
</div>
<div id="process"></div>
</body>
</html>